h3#welcome-to-the-bluecore-transactional-api, h2 {
    padding: 10px 0 10px 0 !important;
}

/* URL dropdown buttons on top of body exapmles */
div.dAvxTh {
    cursor: pointer !important;
    position: relative !important;
    margin: 15px 0 15px 0 !important;
}

/* buttons for "Payload" or "Response Samples" */
.react-tabs__tab-list {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
}

/* subheaders in code examples */
h3.sc-fzpans.czQAZT {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
}
