swagger: '2.0'
info:
  version: '0.0.1'
  title: Bluecore Transactional API
  description: Documentation for using Bluecore's Transactional API
  contact:
    name: Bluecore Support
    email: support@bluecore.com
host: "api.bluecore.com"
basePath: "/email/send/v1"
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /{namespace}:
    post:
      description: Send a transactional email
      produces:
      - application/json
      responses:
        200:
          description: Successful receipt of the request.
          schema:
            type: string
      parameters:
      - in: path
        name: namespace
        type: string
        description: Namespace of partner in Bluecore
        required: true
      - in: header
        name: Authorization Bearer
        type: string
        description: Auth token in the header
        required: true
      - in: body
        name: body
        description: Request object must have the following
        required: true
        schema:
          $ref: "#/definitions/body"
  /{namespace}/{conversation_id}:
    get:
      description: Get the status of an email delivery attempt
      parameters:
      - in: path
        name: namespace
        type: string
        description: Namespace of partner in Bluecore
        required: true
      - in: path
        name: conversation_id
        type: string
        description: The conversation ID
        required: true
      produces:
      - application/json
      responses:
        202:
          description: Successful receipt of the request.
          schema:
            $ref: "#/definitions/ConversationResponse"
        401:
          description: Not authenticated. Not authorized.
          schema:
            $ref: "#/definitions/ConversationResponse"
        404:
          description: Could not find campaign with id for namespace.
          schema:
            $ref: "#/definitions/ConversationResponse"

definitions:
  ConversationResponse:
    type: "object"
    properties:
      status:
        type: "string"
        description: ""
        enum:
        - "Being Processed"
        - "Sent for Delivery"
        - "Delivered, Failed"
      message:
        type: "string"
        description: ""
        enum:
        - "Bounce"
        - "Block"
        - "Previously Bounced/Blocked"
        - "Email Content Generation Failed"
  body:
    type: "object"
    properties:
      campaign_id:
        type: "string"
        description: "Bluecore campaign identifier. This identifier can be obtained from the Bluecore UI campaigns page."
      email:
        type: "string"
        description: "Recipient email address."
      template_attributes:
        type: "object"
        description: "A JSON formatted object containing data to be used in the Email template"
      customer_attributes:
        type: "object"
        description: "A JSON formatted object containing data to add to or update for the customer record"
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "apiKey"
    in: "header"
security:
  - api_key: []
